* {
  margin: 0;
  padding: 0;
}

:root {
  --main-color: #2874f0;
  --secondary-color: #6299f1;
  --text-area-color: #fff;
  --center-comp-min-height: 50vh;
  --main-font: "Times New Roman", Times, serif;
}

.logout-comp-container {
  margin-top: 2px;
  margin-bottom: 2px;
  padding: 2px;
  border: hidden;
  background-color: var(--secondary-color);
  border-radius: 10px;
  box-shadow: 2px 2px 2px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.sharecomp-class {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.header {
  min-height: 18vh;
  max-height: max-content;
  align-self: center;
  min-width: 90%;
  max-width: max-content;
  background: linear-gradient(var(--secondary-color), var(--text-area-color));
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border-style: hidden;
  border-radius: 10px;
  /* border-color: #2874f0; */
  box-shadow: 1px 1px 1px 1px;
  margin: 8px;
  position: fixed;
  top: 120px;
  bottom: 100vh;
}

.header-components {
  font-size: 20px;
  font-style: normal;
  font-family: var(--main-font);
  margin: 2px;
  padding: 2px;
}

.btn {
  font-size: 20px;
  background: var(--secondary-color);
  text-decoration: var(--text-area-color);
  margin-right: 20px;
  padding: 8px;
  border: solid;
  border-radius: 10px;
}

.btn:active {
  box-shadow: 1px 1px 1px;
}

.center-comp {
  min-height: var(--center-comp-min-height);
  width: 100%;
  padding-top: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  max-height: var(--center-comp-min-height) + max-content;
  margin-top: 20vh;
}

.text-area-class {
  min-height: 80vh;
  width: 70%;
  background-color: var(--text-area-color);
  border: solid;
  border-radius: 2px;
  border-color: var(--text-area-color);
  resize: none;
}

.text-area-class:focus {
  outline: none;
}

.text-area-wrapper {
  padding-top: 80px;
  padding-left: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  min-height: max-content;
  width: 70%;
  background-color: var(--text-area-color);
  border-style: hidden;
  border-width: 4px;
  border-radius: 10px;
  border-color: var(--main-color);
  border-bottom: none;
  box-shadow: 1px 1px 1px 1px;
  display: flex;
  justify-content: center;
}

.text-area-class::-webkit-scrollbar {
  width: 0px;
}

.text-area-class:is(:focus, :valid) {
  border-width: 0px;
  border-color: var(--text-area-color);
}

.input-class {
  font-size: 25px;
  /* width: 0; */
  font-family: "Times New Roman", Times, serif;
  text-align: center;
  font-weight: bold;
  border-radius: 10px;
  border: none;
  padding: 0;
  background-color: linear-gradient(
    var(--secondary-color),
    var(--text-area-color)
  );
}

.input-class:focus {
  outline: none;
}

.filename-class {
  margin-right: 10vh;
  margin-left: 10px;
  max-width: max-content;
  border: solid;
  /* border-color: var(--text-area-color); */
  border-color: var(--main-color);
  border-radius: 10px;
  /* box-shadow: 1px 1px 1px 1px; */
}

.filename-heading {
  padding-left: 92px;
  padding-right: 92px;
  font-size: 25px;
}

.filename-class:focus {
  padding-left: 0;
  padding-right: 0;
}

.newfile-button {
  margin: 5vh;
  margin-top: 10vh;
  font-size: 40px;
  text-decoration-color: var(--text-area-color);
  max-height: max-content;
  max-width: max-content;
  justify-content: center;
}

.page {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin-top: 10vh;
  margin: 5vh;
  border: hidden;
  border-radius: 10px;
  border-width: 20px;
  box-shadow: 1px 1px 1px 1px;
  background-color: var(--text-area-color);
  max-width: max-content;
}

.fileicon-container-class {
  display: flex;
  flex-direction: column;
}

.fileicon-label {
  font-size: 20px;
  text-align: center;
  color: var(--secondary-color);
  font-weight: bold;
  margin: 10px;
}

.delete-btn {
  font-size: 20px;
  margin-left: 45%;
  margin-right: 40%;
  margin-top: 20px;
  padding: 2px;
  border: hidden;
  border-radius: 10px;
  background-color: var(--main-color);
  box-shadow: 1px 1px 1px 1px;
}

.delete-btn:active {
  box-shadow: 0px 0px 0px 0px;
}

.btn-text {
  color: var(--text-area-color);
}

.page-container {
  display: flex;
  flex-direction: column;
  margin-top: 10vh;
  align-items: center;
}

.auth-page-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
}

.auth-page {
  width: 20%;
  height: 40vh;
  font-size: 20px;
  border: solid;
  box-shadow: 1px 1px 1px 1px;
  border-radius: 10px;
  margin: 20vh;
  /* background-color: var(--main-color); */
  border-color: var(--main-color);
  padding: 8px;
}

.auth-input {
  min-width: 20px;
  height: 40px;
  font-size: 20px;
  border: solid;
  border-width: 2px;
  border-radius: 10px;
  text-align: left;
  align-self: left;
  margin: 10px;
}

.auth-btn {
  margin: 25px;
  border: hidden;
  border-radius: 10px;
  background-color: var(--secondary-color);
  text-decoration-color: var(--text-area-color);
  min-width: 5vh;
  max-width: max-content;
  font-size: 20px;
  padding: 5px;
}

.auth-input:focus {
  outline: none;
}

.logout-comp {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin-left: 10%;
  align-items: right;
  justify-content: right;
  width: max-content;
  cursor: pointer;
}

.btn-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-bottom: 2px;
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 0px;
  padding: 2px;
  position: fixed;
  top: 0px;
  bottom: 90vh;
  border: hidden;
  box-shadow: 1px 1px 1px 1px;
  height: max-content;
  background: var(--text-area-color);
}

.username-class {
  border: solid;
  border-color: var(--main-color);
  border-radius: 20px;
  margin-left: 5px;
  margin-right: 20px;
  height: 28px;
  min-width: 25px;
  max-width: max-content;
  padding: 4px;
  /* background-color: var(--main-color); */
  /* color: var(--text-area-color); */
}

.logout-btn {
  font-size: 18px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: var(--main-color);
  color: var(--text-area-color);
  margin-top: 5px;
  margin-left: 5px;
  margin-right: 5px;
  border: hidden;
  border-color: var(--main-color);
  border-radius: 10px;
  padding: 10px;
  height: 28px;
  min-width: 120px;
  max-width: max-content;
  cursor: pointer;
  animation-name: custom-animation-1;
  animation-direction: alternate;
  animation-duration: 100ms;
}

@keyframes custom-animation-1 {
  from {
    /* width: 0; */
    height: 0;
    margin-top: 0px;
  }
  to {
    /* width: 2vh; */
    height: 28px;
    border: hidden;
    margin-top: 5px;
  }
}

@keyframes custom-animation-2 {
  from {
    width: 5vh;
    margin-left: 5px;
  }
  to {
    width: 0;
    margin-left: 0;
  }
}

.logout-btn-hidden {
  visibility: hidden;
  font-size: 20px;
  background-color: #6299f1;
  color: var(--text-area-color);
  margin-left: 5px;
  margin-right: 5px;
  border: hidden;
  border-radius: 10px;
  padding-top: 5px;
  padding-left: 5px;
  padding-right: 5px;
  padding-bottom: 10px;
  height: 28px;
  cursor: pointer;
}

.navigate-comp {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: var(--main-color);
  border-radius: 10px;
  width: max-content;
  margin-bottom: 20px;
  margin-top: 20px;
  margin-left: 4px;
  margin-right: 70%;
}

.navigate-btn {
  font-size: 20px;
  background-color: #6299f1;
  text-decoration-color: var(--text-area-color);
  border: hidden;
  border-radius: 10px;
  padding: 4px;
  cursor: pointer;
}

.navigate-btn:active {
  box-shadow: 1px 1px 1px;
}

@media screen and (max-width: 900px) {
  .auth-input {
    width: 2vh;
    /* height: 10vh; */
  }

  .auth-page-container {
    flex-direction: column;
    /* flex-wrap: wrap;
    align-items: left;
    justify-content: center; */
  }
}

@media screen and (max-width: 1000px) {
  .header {
    min-height: 10vh;
    max-height: max-content;
    padding-bottom: 10px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .header-components {
    font-size: 20px;
  }

  .font-family-label-class {
    visibility: collapse;
  }

  .font-size-label-class {
    visibility: collapse;
  }

  .font-family-class {
    font-size: 20px;
    margin-left: 5px;
    margin-right: 2px;
  }

  .font-size-class {
    font-size: 20px;
    margin-left: 5px;
    margin-right: 5px;
  }

  .font-components-class {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: right;
    margin-top: 10px;
    margin-right: 48px;
    margin-left: 10px;
  }

  .center-comp {
    min-height: 0vh;
    max-height: fit-content;
  }

  .btn {
    margin: 8px;
    margin-top: 20px;
    font-size: 10px;
  }

  .text-area-wrapper {
    width: 100%;
    padding-top: 20px;
  }

  .text-area-class {
    width: 80%;
  }

  .filename-text {
    visibility: collapse;
  }

  .filename-class {
    font-size: 10px;
    margin-left: 10vh;
    border-width: 1px;
  }

  .filename-heading {
    font-size: 20px;
    padding-left: 72px;
    padding-right: 72px;
  }

  .input-class {
    text-align: center;
    max-width: max-content;
    min-width: max-content;
    font-size: 20px;
  }

  .auth-input {
    width: 5vh;
    height: 5vh;
  }

  .auth-page-container {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 20vh;
  }

  .auth-page {
    width: 80%;
    font-size: 20px;
    margin-top: 0vh;
    margin-bottom: 5vh;
    padding: 20px;
  }

  .btn-container {
    width: 100%;
    height: max-content;
    padding: 2px;
  }

  .logout-btn {
    font-size: 10px;
  }

  .logout-comp {
    /* margin-left: 1vh; */
  }

  .navigate-btn {
    font-size: 10px;
    /* margin-right: 1vh; */
  }

  .username-class {
    font-size: 10px;
    height: 20px;
    width: 20px;
    padding: 8px;
  }

  .page {
    flex-direction: row;
    /* align-items: center; */
    padding: 8px;
  }

  .newfile-button {
    height: 20px;
    width: 20px;
  }

  img {
    height: 20px;
    width: 20px;
  }

  .fileicon-label {
    display: flex;
    flex-direction: row;
    font-size: 10px;
  }
}

@media screen and (max-width: 1400px) {
  .auth-input {
    width: 20vh;
  }

  .auth-page {
    flex-direction: column;
    flex-wrap: wrap;
  }

  .auth-page-container {
    /* flex-direction: column; */
    /* flex-wrap: wrap; */
    /* align-items: left; */
    /* justify-content: center; */
  }
}
